<ion-view view-title="Public">
  <ion-content class="padding" delegate-handle="p-refresher">
    <ion-refresher on-refresh="getTransactions()">
    </ion-refresher>
    <button ng-show="!$root.user || !$root.user.facebook.id" ng-click="fbLogin()" class="button button-block button-positive ion-social-facebook">&nbsp&nbsp&nbspFacebook Login</button>
    <p ng-show="!$root.user.facebook.id">By logging in you agree to our <a href="https://www.chillwastaken.com/privacy" target="_blank">privacy policy</a> and <a href="https://www.chillwastaken.com/terms" target="_blank">terms of service</a>.</p>
    <ion-list ng-show="$root.user && $root.user.facebook.id">
      <ion-item class="item-avatar item-remove-animate item-text-wrap" ng-repeat="trans in transactions">
        <img ng-src="{{trans.userID.facebook.profilePicture}}">
        <h3>{{trans.userID.facebook.name}}</h3>
        <p>{{trans.name}}, {{trans.location.city}}{{!!trans.location.city?',':''}} {{trans.location.state}}</p>
        <p>{{trans.amount|currency}}</p>
        <button ng-show="!!trans.location.lat" ng-click="openMapCall(trans)">Open Map</button>
        <hr>
        <label>{{trans.likes.length}} likes</label>&nbsp&nbsp&nbsp
        <button ng-click="like(trans)" ng-show="!trans.likes.includes($root.user.facebook.id)">Like</button>
        <label ng-show="trans.likes.includes($root.user.facebook.id)">LIKED</label>
        <br>
        <label>{{trans.caption}}</label>
        <p ng-repeat="comment in trans.comments">{{comment.name}} - {{comment.text}}</p>
        <br>
        <input ng-model="trans.newComment" placeholder="comment"></input>
        <button ng-click="createComment(trans)">Comment</button>
    </ion-item>
</ion-list>
</ion-content>
</ion-view>
